# Logs
logs
*.log
npm-detoy.log*
yarn-detoy.log*
yarn-error.log*
pnpm-detoy.log*
lerna-detoy.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
