$primary-color: rgb(230, 82, 13);
$secondary-color: #4CAF50;
$link-hover: lightskyblue;
$text-color: #333;
$light-grey: #f9f9f9;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$font-family: 'Arial', sans-serif;